* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

*::-webkit-scrollbar
{
  width: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #3A6351;
  background-clip: content-box;
  border: 2px solid transparent;
}

html, body, #root, .App {
  min-height: 100vh;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px;
  color: #393232;
}

h1 {
  color: #393232;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 400;
  color: #393232;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #393232;
}

img {
  max-width: inherit;
  height: auto;
}

.medium-zoom-overlay {
  margin-top: 40vh;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 23.3px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
  h2{
    font-size: 22px;
  }
}
